.PDFControl {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d7dbdd;
  padding: 20px;
}

.PDFControl__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.group {
  width: 40%;
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
}

.input {
  width: 400px;

  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.PDFControl__card {
  width: 60%;
  background-color: white;
  border-radius: 8px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 23px;
}
.PDFControl__card__title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.PDFControl__card__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
